/*
css > style.css
*/

@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

:root{
    --primary-100:#EE1D52;
    --primary-200:#ff607e;
    --primary-300:#ffcddf;
    --accent-100:#FFC107;
    --accent-200:#916400;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#F7F7F7;
    --bg-200:#ededed;
    --bg-300:#c4c4c4;  
}

body {
    font-family: "Gowun Batang", system-ui, -apple-system, sans-serif;
    background-color: #F7F7F7;
    color: #333333;
}

/* 헤더 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 47px;
    border-bottom: 1px solid #555;
}

.header-img img{
    width: 40px;
    height: auto;
}

.title {
    text-align: center;
    flex-grow: 1;
}

.title h3 {
    font-size: 26px;
    font-weight: 700;
}

main {
    display: flex;
    justify-content: space-evenly;
    min-height: 84vh;
}

/* 왼쪽 메뉴 */
.menu {
    width: 17%;
    display: flex;
    justify-content: flex-start;
}

.menu ul {
    width: 100%;
    list-style: none;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: #333333;
    font-size: 20px;
}

.menu a:hover {
    color: #EE1D52;
    border-radius: 5px;
}

.menu li {
    padding: 18px 10px;
}

.menu li a {
    font-weight: 700;
}

/* 메뉴 > 드롭다운 */ 
.dropdown-content li{
    padding: 10px;
}

.dropdown-content li a{
    font-weight: 400;
    font-size: 14px;
}

.divider {
    border-left: 1px solid #555;
    height: auto;
}


.content {
    width: 73%;
    padding: 20px;
}